.register{
    display: flex;
    height: 80vh;
}

.form-register {
    width: 100%;
    height: 80vh;
    max-width: 50%;
    background-color:#141c30;
    color: white;
    margin: 0;
    padding:100px 100px; 
    z-index: 1;
}

.submit-btn{
    background-color: #5044e0;
    color: white;
}

.submit-btn:hover{
    color: white !important;
    background-color: #473cbb;
}
  
.form-register .checkbox {
    font-weight: 400;
}
  
/* .form-signin .form-floating:focus-within {
    z-index: 2;
} */
  
.form-register input[type="name"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}    